.pimg img {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 55%, 0 60%);
          clip-path: polygon(0 0, 100% 0, 100% 55%, 0 60%);
}

.pimg img {
  width: 100%;
}

.pimg {
  position: relative;
  opacity: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100px;
}