body {
  margin: 0;
  padding: 0;
}
.pimg{
  background-image: url("https://raw.githubusercontent.com/pranshu05/Elpha/main/img/a.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0 65%);
  width: 100%;
  
}
.section {
  width: 100%;
}
.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto, "Open Sans", Arial, sans-serif;
  overflow: hidden;
}
.call span {
  display: inline;
  border: 1px solid black;
  padding: 8px 13px;
  font-size: 20px;
  transition: background 0.15s linear;
}
.call span:hover {
  background: black;
  cursor: pointer;
}
.section .container {
  padding: 0px 0 50px 0;
}
.section .slider,
.section .footer {
  background: #fff;
}
.slidercontent {
  text-align: center;
}
.hero {
  font-family: "Roboto Slab", sans-serif;
  color: black;
  font-weight: normal;
  letter-spacing: 1px;
  padding-top: 10px;
}
h1.hero {
  font-size: 54px;
}
h2.hero {
  font-size: 30px;
  margin-bottom: 60px;
}
h1.hero:after {
  content: "";
  width: 300px;
  position: relative;
  border-bottom: 1px solid #aaa;
  text-align: center;
  margin: auto;
}
a {
  font-weight: bold;
  display: inline block;
  color: black;
  text-decoration: none;
}
a:hover {
  color: white;
}
.col {
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
  border-radius: 10px;
}
.col.three {
  width: 40%;
  margin: 0 1%;
  border-radius: 10px;
}
.col h1.side,
.col p.side,
.col span.side:first-of-type {
  margin-left: 50px;
  text-align: left;
}
.col:hover > .icon {
  background: #F44336;
  color: white;
}
.col p,
.col h1 {
  padding: 0 1%;
  text-align: center;
  color: white;
}
.group.margin {
  margin-bottom: 20px;
}
.col .imgholder {
  height: 300px;
  width: 100%;
  background: lightblue;
  transition: background 0.3s linear;
  border-radius: 10px;
}
.col.bg {
  background: #000;
}
.col.pointer {
  cursor: pointer;
}
.col span.feature {
  font-size: 20px;
}
